{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}My Easy Style | Admin site{% endblock %}


{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'adminoverride.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <style>
      
    </style>
{% endblock %}

{% block branding %}
<h1 id="head">
    <a class="admin-title" href="/admin"> Easy Style Administration</a>
</h1>
{% endblock %}