* {
    font-family:"Poppins";
}
#header {
    background:rgb(137, 4, 163);
}
caption {
    background:rgb(137, 4, 163) !important;
}
#content-related {
    background-color:rgb(235, 164, 33);
}
.breadcrumbs {
  background:rgb(137, 4, 163) !important;
}
.submit-row input {
    background:rgb(137, 4, 163);
}
.submit-row input:hover {
    background:rgb(195, 20, 230);
}
.submit-row input:active {
    background:rgb(205, 48, 236);
}

#changelist-filter h2 {
    background:rgb(137, 4, 163);
}
.object-tools .addlink,
.submit-row .default {
    background-color: purple !important;
}
.object-tools .addlink:hover,
.submit-row .default:hover {
    background-color: rgb(187, 31, 187) !important;
}