{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Easy Colors</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400;1,700&family=Poppins:wght@400;500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
        <div class="container">
            <h1 class="main-header">{% if user.is_superuser %}<a target="_blank" href="{% url 'admin:index' %}">Admin</a> {% endif %} {{setting.title}} {% if user.is_superuser %} <a href="{% url 'add-color' %}"><i class="fas fa-plus-circle"></i></a>{% endif %} </h1>
            <p class="info">{{setting.description}}</p>
            <div class="all">
              <form class="search-color" action="" method="GET">
                <select name="category" id="category" class="form-control-ctg">
                  <option selected>Choose Category...</option>
                  {% for cat in ctg %}
                  <option value="{{cat}}">{{cat}}</option>
                  {% endfor %}
                </select>
                <button class="submit-btn" type="submit">Search</button>
              </form>
              <div class="prop"><small class="color-count">Colors:{{color_count}}</small><small class="category-count">Categories:{{category_count}}</small></div>
            </div>
        </div>
    </header>
    <main>
        <section id="colors">
            <div class="container">
                <div class="all-colors">
                    {% for ct in qs %}
                    <h1 class="color-category">{{ct.category}}</h1>
                    <div class="colors">
                        {% for color in ct.colors.all %}
                        <div class="color">
                            <h3 class="color-info">
                                <span class="color-code"><input type="text" class="color-code-text" value="{{color.color}}"><i class="fas fa-copy" title="Copy"></i></span>
                                {% if user.is_superuser %}
                                <span><i class="fas fa-pen" title="Edit"></i></span>
                                <span><a href="{% url 'color-delete' color.id %}"><i class="fas fa-trash-alt" title="Delete"></i></a></span>
                                <span><i class="fas fa-expand-alt" title="Expand"></i></span>
                                {% endif %}
                            </h3>
                            <div class="back-color  myColor-{{color.color}}">
                                <small class="copy-text"></small>
                            </div>
                        </div>
                        {% endfor %}

                </div>
                {% endfor %}
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
          <h3 class="footer-txt">All rights reserved © <script>document.write(new Date().getFullYear());</script>. Made with <i class="fas fa-heart"></i> <a href="{{setting.url}}" target="_blank">Farid</a></h3>
        </div>
    </footer>
    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
